version: '3.3'

services:
    newsajf01:
      build:
          context: ./
          dockerfile: Dockerfile
      pid: host
      networks: 
          - default
      expose: 
          - "3000"
 #     ports: 
 #         - "89:3000"
      container_name: newsajf01
      hostname: newsajf01
      restart: always
   

networks:  
 default:
  external:
    name: ns2021-existing-network